<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exe2_PABD.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=VICTUSJ9Q2TAHT-\BAGUSSATRIOVKAP;Initial Catalog=ProdiTI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Exe2_PABD.Properties.Settings.ProdiTIConnectionString1"
            connectionString="Data Source=VICTUSJ9Q2TAHT-\BAGUSSATRIOVKAP;Initial Catalog=ProdiTI;User ID=bagus;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>